{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h2>Country presidents</h2>
    <div class="container">
        <table class="table">

            <tr>
                <th id="first">Number</th>
                <th id="second">Country</th>
                <th id="third">City</th>
                <th id="forth">President's name</th>
            </tr>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Uganda</td>
                    <td>Kampala</td>
                    <td>Yoweri Kaguta Museveni</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>South Africa</td>
                    <td>Cape Town</td>
                    <td>Cyril Ramaphosa</td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Rwanda</td>
                    <td>Kigali</td>
                    <td>Paul Kagame</td>

                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Burundi</td>
                    <td>Bujumbura</td>
                    <td>Évariste Ndayishimiye.</td>

                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>South Sudan</td>
                    <td>Juba</td>
                    <td> Salva Kiir Mayardit</td>

                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Kenya</td>
                    <td>Nairobi</td>
                    <td>William Ruto</td>

                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>DRC</td>
                    <td>Kinshasha</td>
                    <td>Félix Tshisekedi</td>

                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Nigeria</td>
                    <td>Abuja</td>
                    <td>Muhammadu Buhari</td>

                </tr>

                <tr>
                    <th scope="row">9</th>
                    <td>Tanzania</td>
                    <td>Dar es Salam</td>
                    <td>Samia Suhuli Hassan</td>

                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Zambia</td>
                    <td>Lusaka</td>
                    <td>Edgar Lungu</td>

                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Zimbabwe</td>
                    <td>Harare</td>
                    <td>Emmason Mnangagwa</td>

                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Sudan</td>
                    <td>Khartoum</td>
                    <td>Omar-al Bashir</td>

                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>Senegal</td>
                    <td>Dakar</td>
                    <td>Macky Sall</td>

                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>Mozambique</td>
                    <td>Maputo</td>
                    <td>Fillipe Nyusi</td>

                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>Malawi</td>
                    <td>Lilongwe</td>
                    <td>Peter Mutharika</td>

                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>Liberia</td>
                    <td>Monrovia</td>
                    <td>George Weah</td>

                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>Ghana</td>
                    <td>Accra</td>
                    <td>Nana Akufo-Addo</td>

                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>Ethiopia</td>
                    <td>Addis Ababa</td>
                    <td>Sahle-Work Zewde</td>

                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>Egypt</td>
                    <td>Cairo</td>
                    <td>Abdel Fattah el-Sisi</td>

                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td>Algeria</td>
                    <td>Algiers</td>
                    <td>Abdelaziz Bouteflika</td>

                </tr>

            </tbody>
        </table>
    </div>
</body>

</html>