{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCESSING ELEMENTS IN THE DOM</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <h1>ACCESSING ELEMENTS IN THE DOM</h1>
    <h2>ID(#demo)</h2>
    <div id="demo">Aceess me by id</div>
    <h2>class(demo)</h2>
    <div class="demo">Access me by class(1)</div>
    <div class="demo">Accessme by class(2)</div>

    <article>Accessing me by tag(1)</article>
    <article>Access me by tag(2)</article>
    <h2>query selector</h2>
    <div id="demo-query">Access me by query</div>


    <h2>Query selector all</h2>
    <div class="demo-query-all">Access me by query all(1)</div>
    <div class="demo-query-all">Access me by query all(2)</div>

</body>
<!--how to embade js into our html file-->
<script src="{% static 'js/script.js' %}"></script>
</html>